<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='utf-8'>
	<title>Pac Man Lite</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<script type="text/javascript">

		function Game() {
			this.info = { tile: 10, conv: 3, timer: 0, timeRemaining: 99 };
			this.coins = [];
			this.map = [
					[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
					[0,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,0],
					[0,1,0,0,1,0,0,0,1,0,1,0,0,0,1,0,0,1,0],
					[0,1,0,0,1,0,0,0,1,0,1,0,0,0,1,0,0,1,0],
					[0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0],
					[0,1,0,0,1,0,1,0,0,0,0,0,1,0,1,0,0,1,0],
					[0,1,1,1,1,0,1,1,1,0,1,1,1,0,1,1,1,1,0],
					[0,0,0,0,1,0,0,0,1,0,1,0,0,0,1,0,0,0,0],
					[9,9,9,0,1,0,1,1,1,1,1,1,1,0,1,0,9,9,9],
					[0,0,0,0,1,0,1,0,0,0,0,0,1,0,1,0,0,0,0],
					[7,1,1,1,1,1,1,0,9,9,9,0,1,1,1,1,1,1,7],
					[0,0,0,0,1,0,1,0,0,9,0,0,1,0,1,0,0,0,0],
					[9,9,9,0,1,0,1,1,1,1,1,1,1,0,1,0,9,9,9],
					[0,0,0,0,1,0,1,0,0,0,0,0,1,0,1,0,0,0,0],
					[0,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,0],
					[0,1,0,0,1,0,0,0,1,0,1,0,0,0,1,0,0,1,0],
					[0,1,1,0,1,1,1,1,1,1,1,1,1,1,1,0,1,1,0],
					[0,0,1,0,1,0,1,0,0,0,0,0,1,0,1,0,1,0,0],
					[0,1,1,1,1,0,1,1,1,0,1,1,1,0,1,1,1,1,0],
					[0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0],
					[0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0],
					[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
			];

			this.drawMap = function() {
				for (var i=0; i<this.map.length; i++){
					for (var j=0; j<this.map[i].length; j++){
						if (this.map[i][j] == 1 || this.map[i][j] == 7 || this.map[i][j] == 9){
							$('#container').append("<div class='path'></div>");
						}
						else if (this.map[i][j] == 0){
							$('#container').append("<div class='brick'></div>");
						}
					}
				}
			}

			this.drawCoins = function() {
	            var id = 1;
	            for (var i=0; i<(this.map.length); i++){
	            	for (var j=0; j<(this.map[i].length); j++){
	            		if (this.map[i][j] == 1 || this.map[i][j] == 7){
	            			var posY = i*30+42;
	            			var posX = j*30+12;
	            			$('#coins').append("<img id='" + id + "' class='coin'" +
	            				"src='images/coin.jpg' style='top: " + posY + "px; left: " + posX + "px;'>");
	            			this.coins.push({id: id, x: posX, y: posY});
	            			id++;
	            		}
	            	}
	            }

	            $("img[id='23']").replaceWith("<img id='23' class='power'" +
	            	"src='images/powerpellet.gif' style='top: 120px; left: 30px;'>");
	            $("img[id='28']").replaceWith("<img id='28' class='power'" +
	            	"src='images/powerpellet.gif' style='top: 120px; left: 510px;'>");
	            $("img[id='136']").replaceWith("<img id='136' class='power'" +
	            	"src='images/powerpellet.gif' style='top: 510px; left: 30px;'>");
	            $("img[id='150']").replaceWith("<img id='150' class='power'" +
	            	"src='images/powerpellet.gif' style='top: 510px; left: 510px;'>");                   
			}

			this.timer = function(mainTime, sound){
				this.info.timeRemaining--;
				document.getElementById('info').children[1].innerHTML = "Time: " + this.info.timeRemaining;
				if (this.info.timeRemaining == 0){
					sound.die.play();
					// clearInterval(upPac);
					clearInterval(mainTime);
					$('#end').append("<p id='loser'>GAME OVER</p>");
				}
			}
		}

		function Pacman (x, y, pos) {
			this.info = { x: x, y: y, pos: pos, pos_temp: pos, collision: false, power: false, score: 0 };

			this.draw = function () {
				$('#hero').html("<img class='pacman' src='images/pacman" + this.info.pos +
					".gif' style='top: " + this.info.y + "px; left: " + this.info.x + "px;'>");
			}

    		this.updateMove = function (game, upPac, mainTime, sound) {
	    		this.detectCollision(game);
				this.move(game);
				this.draw();
                this.updateCoins(game, upPac, mainTime, sound);
    		}

			this.detectCollision = function (game) {
				var block = game.info.tile * game.info.conv;
				var x = this.info.x / block;
				var y = this.info.y / block;
	            
	            this.info.collision = false;
	            // This prevents errors when inbetween blocks
	            if (this.info.y % block === 0 && this.info.x % block === 0) {
					var left = game.map[y-1][Math.floor(x - 0.1)];
	            	var up = game.map[Math.floor(y - 0.1)-1][x];
	            	var right = game.map[y-1][Math.ceil(x + 0.1)];
	            	var down = game.map[Math.ceil(y + 0.1)-1][x];
	            	var options = [left, up, right, down];
	            	// This means user is trying to change directions
    	            if (this.info.pos !== this.info.pos_temp) {
    	            	if (options[this.info.pos_temp - 37] === 1) {
    	            		this.info.pos = this.info.pos_temp;
    	            	}
    	            }
    	            else {
    	            	if (options[this.info.pos - 37] === 0) {
    	            		this.info.collision = true;
    	            	}
    	            	else if (options[this.info.pos - 37] === undefined) {
    	            		this.info.collision = undefined;
    	            	}
    	            }
	            }
			}

			this.move = function (game) {
				var block = game.info.tile * game.info.conv;
				var options = [-1, -1, 1, 1];
				if (this.info.collision === undefined){
					if (this.info.pos === 37){
						this.info.x = game.map[0].length * block - block;
					}
					else if (this.info.pos === 39) {
						this.info.x = 0;
					}
				}
				else if (this.info.collision != true){
					if (this.info.pos === 37 || this.info.pos === 39){
						this.info.x += options[this.info.pos - 37] * game.info.tile;
					}
					else if (this.info.pos === 38 || this.info.pos === 40){
						this.info.y += options[this.info.pos - 37] * game.info.tile;
					}
				}
			}

			this.updateCoins = function (game, upPac, mainTime, sound) {
				for (var i in game.coins){
					var delta = getDistance(this.info.x+15, game.coins[i].x, this.info.y+15, game.coins[i].y);
					if (delta <= 6){
						var el = document.getElementById(game.coins[i].id);
						var id = game.coins[i].id;
						if (id === 23 || id === 28 || id === 136 || id === 150){
							this.info.score += 100;
							this.info.power = true;
							sound.power.play();
							// $('#enemy').html("<img class='ghost' src='images/ghost2.gif' style='top: " +
							// 	ghost.y + "px; left: " + ghost.x + "px;'>");
							// clearInterval(upGho);
							// upGhoRun = setInterval(updateGhostRun, 200);
						}
						else {
							this.info.score += 10;
							sound.eat.play();
						}
						game.coins.splice(i, 1);
						document.getElementById('coins').removeChild(el);
						document.getElementById('info').children[2].innerHTML = "Score: " + this.info.score;
					}
				}
				console.log(game.coins.length);
				if (game.coins.length == 0){
					// clearInterval(upGho);
					clearInterval(upPac);
					$('#end').append("<p id='winner'>YOU WIN!!!</p>");
					sound.end.play();
					clearInterval(mainTime);
					// timeBonus = setInterval(timeBonus, 30);
				}
			}
		}

		function getDistance (x1, x2, y1, y2){
			return Math.sqrt((x1-x2)*(x1-x2) + (y1-y2)*(y1-y2));
		}

		$(document).ready(function(){
			var game = new Game();
			var pacman = new Pacman(270, 510, 39);
			var upPac;
			var mainTime;

			var sound = {};
			sound.start = new Audio('sounds/pacman_beginning.wav');
            sound.eat = new Audio('sounds/pacman_chomp.wav');
            sound.power = new Audio('sounds/pacman_eatghost.wav')
            sound.die = new Audio('sounds/pacman_death.wav');
            sound.end = new Audio('sounds/pacman_intermission.wav')
			
			game.drawMap();
			game.drawCoins();
			pacman.draw();
			sound.start.play();

			$('#start').on('click', 'button', function(){
				$(this).remove();
				upPac = setInterval(mainLoop, 80);
				mainTime = setInterval(timeLoop, 1000);
			})

			function mainLoop() {
				pacman.updateMove(game, upPac, mainTime, sound);
			}

			function timeLoop() {
				game.timer(mainTime, sound);
			}

			document.onkeydown = function (e) {
				if (e.keyCode >= 37 && e.keyCode <= 40) {
					pacman.info.pos_temp = e.keyCode;
					pacman.detectCollision(game);
				}
			}
		});

	</script>
</head>
<body>
	<div id='info'>
		<h1 class='yellow'>PACMAN LITE</h1>
		<h2 class='time'>Time: 99</h2>
		<h2 class='score'>Score: 0</h2>
	</div>
	<div id='container'></div>
	<div id='coins'></div>
	<div id='hero'></div>
	<div id='enemy'></div>
	<div id='end'></div>
	<div id='start'><button class='start'>Click to Start</button></div>
</body>
</html>