* {
	margin: 0px;
	padding: 0px;
	font-family: PixelSplitter;
}

body {
	background-color: black;
}

#container {
	height: auto; width: 1200px;
}

#info {
	height: 30px; width: 1200px;
	position: relative;
	color: white;
}

h1 {
	display: inline-block; vertical-align: center;
	width: 300px;
	font-size: 25px;
}

h2.score {
	display: inline-block; vertical-align: center;
	text-align: right;
	font-size: 25px;
	width: 890px;
}

.yellow {
	color: yellow;
}

.start {
	background-color: yellow;
	height: 130px; width: 400px;
	position: absolute;
	top: 270px; left: 400px;
	border: 3px solid black;
	border-radius: 10px;
	font-size: 40px;
	text-align: center;
	font-weight: 800;
	color: black
}

.brick {
	height: 26px; width: 26px;
	position: relative; float: left;
	margin: 1px;
	text-align: right;
	background-color: blue;
	border: 1px solid yellow;
	border-radius: 5px;
}

.door {
	height: 26px; width: 26px;
	position: relative; float: left;
	margin: 1px;
	text-align: right;
	background-color: #FF99CC;
	border: 1px solid yellow;
	border-radius: 5px;
}

.path {
	height: 30px; width: 30px;
	position: relative; float: left;
	background-color: black;
}

.coin {
	height: 8px; width: 8px;
	position: absolute;
}

.power {
	height: 30px; width: 30px;
	position: absolute;
}

.pacman {
	height: 30px; width: 30px;
	position: absolute;
	color: white;
}

.ghost {
	height: 30px; width: 30px;
	position: absolute;
}

#loser {
	position: absolute;
	top: 250px; left: 0px;
	width: 1200px;
	font-size: 150px;
	color: red;
	text-align: center;
}

#winner {
	position: absolute;
	top: 250px; left: 0px;
	width: 1200px;
	font-size: 150px;
	color: green;
	text-align: center;
}

#controls { position: absolute; height: 100px; width: 1200px; top: 660px; left: 0px; }

#instructions { width: 100%; text-align: center; color: white;  }
#up { position: relative; height: 60px; width: 170px; top: 0px; background-color: gray; border: 1px solid white; margin: 0px auto; border-radius: 5px; }
#left { position: absolute; height: 60px; width: 170px; top: 60px; left: 325px; background-color: orange; border: 1px solid white; border-radius: 5px; }
#right { position: absolute; height: 60px; width: 170px; top: 60px; right: 325px; background-color: orange; border: 1px solid white; border-radius: 5px; }
#down { position: relative; height: 60px; width: 170px; top: 20px; background-color: gray; border: 1px solid white; margin: 0px auto; border-radius: 5px; }
.icon { position: absolute; top: 20px; width: 100%; text-align: center; color: white; }

.text {
	color: red;
}